@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@font-face {
  font-family: secondFont;
  src: url("../fonts/droid-serif.italic.ttf");
}

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0;
}

h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
}

p {
  color: #777777;
  font-family: secondFont;
  font-size: 16px;
}

.row h1 {
  font-size: 18px;
}

.row p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

/* Section: header */
.header {
  height: 100vh;
  position: relative;
  color: white;
}

.header::before {
  content: "";
  display: block;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../images/hero-image.png");
  background-size: cover;
  z-index: -1;
  filter: brightness(50%);
}

.navbar-inverse {
  border: none;
  background-color: transparent;
}

.navbar-inverse .navbar-nav {
  float: right;
}

.navbar-inverse .navbar-nav li a {
  font-size: 14px;
  color: inherit;
  transition: 0.5s;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #fed136;
}

.navbar-inverse .navbar-toggle {
  border: none;
  transition: 0.5s;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fed136;
}

.hero {
  margin-top: 30vh;
}

.hero h2 {
  font-family: secondFont;
  font-size: 40px;
  letter-spacing: -1px;
}

.hero p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
}

.hero button {
  background-color: #fed136;
  margin-top: 10px;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
}

.hero button:hover {
  background-color: white;
  color: #fed136;
}

/* Section: services */
.services .row {
  margin-top: 100px;
}

.services .row .col-md-4 {
  padding: 0 20px;
  margin-bottom: 50px;
}

.services .row .fa {
  width: 80px;
  height: 80px;
  position: relative;
  color: #fed136;
  font-size: 40px;
  border: 4px solid #fed136;
  border-radius: 50%;
  transition: 0.5s;
}

.services .row .fa::before {
  width: 70px;
  position: absolute;
  left: 0;
  top: 14px;
}

.services .row .fa:hover {
  border-color: #222222;
  color: #222222;
}

/* Section: portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio .row {
  margin-top: 50px;
}

.portfolio .row .col-md-4 {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.portfolio .row .col-md-4 img {
  width: 291px;
}

.portfolio .row .col-md-4 h1 {
  padding-top: 20px;
}

.portfolio .row .col-md-4 p {
  font-family: secondFont;
  padding-bottom: 20px;
}

.portfolio .row .col-md-4 h1, .portfolio .row .col-md-4 p {
  background-color: white;
  margin: 0;
  width: 291px;
}

.portfolio .row .col-md-4 .image-box {
  width: 291px;
  height: 301px;
  position: relative;
}

.portfolio .row .col-md-4 .layer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}

.portfolio .row .col-md-4 .layer h4 {
  visibility: hidden;
  padding: 5px;
  color: #CCA45D;
  border: 2px solid #CCA45D;
}

.portfolio .row .col-md-4 .layer:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.portfolio .row .col-md-4 .layer:hover h4 {
  visibility: visible;
}

/* Section: about-us */
.about-us .row:nth-of-type(1) {
  margin-top: 50px;
}

.about-us .row h1 {
  margin-top: 0;
}

.about-us .col-md-12 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.about-us img {
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  transition: 0.5s;
}

.about-us img:hover {
  border-color: #fed136;
}

.about-us .line-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.about-us .line {
  width: 3px;
  height: 95px;
  background-color: #f1f1f1;
}

.about-us .our-story {
  height: 160px;
  width: 160px;
  background-color: #fed136;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  transition: 0.5s;
}

.about-us .our-story:hover {
  border-color: #fed136;
}

.about-us .our-story h1 {
  color: white;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
}

/* Section: our-team */
.our-team {
  background-color: #f7f7f7;
}

.our-team .text-padding {
  padding: 0 200px;
  font-family: 'Roboto Slab', serif;
}

.our-team .row {
  margin-top: 100px;
}

.our-team .row h1 {
  font-size: 16px;
}

.our-team img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.our-team .fa,
.footer .fa {
  width: 45px;
  height: 45px;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 20px;
  border: 3px solid #222222;
  border-radius: 50%;
}

.our-team .fa:hover,
.footer .fa:hover {
  color: #fed136;
  border-color: #fed136;
}

/* Section: logos */
.logos .col-md-3 {
  margin-bottom: 20px;
}

/* Section: contact */
.contact {
  height: 100vh;
  position: relative;
  background-color: #222222;
}

.contact img {
  max-width: 614px;
  max-height: 646px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact h1 {
  margin-top: 100px;
  color: white;
}

.contact .row:first-of-type {
  margin-top: 100px;
}

.contact input,
.contact textarea {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.contact input:nth-of-type(1), .contact input:nth-of-type(2),
.contact textarea:nth-of-type(1),
.contact textarea:nth-of-type(2) {
  margin-bottom: 25px;
}

.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
}

.contact textarea {
  height: 200px;
  padding: 10px;
}

.contact button {
  background-color: #fed136;
  margin-top: 10px;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  text-transform: uppercase;
}

.contact button:hover {
  background-color: white;
  color: #fed136;
}

/* Section: footer */
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer p {
  margin: 0;
  padding: 10px 100px 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.footer .fa {
  color: white;
  background-color: #222222;
  margin-bottom: 0;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */